body{
    background-image: url('../../assets/images/background.png');
    background-size: cover;
    background-repeat: repeat;
}

.funText{
    color:black;
}

#pokeText{
    text-align: center;
    color:red;
}

.pokePic {
    padding-left:25px;
    height:75%;
}


.hpText {
    color:green;
    margin: 0px;
    padding:0px;
}

#pikachu {
    width: 225px;
    height: 225px;
    border: 5px solid black;
    background: white;
    margin:20px;
    float: left;
}
#pikachu:hover {
    background: lightyellow;
}


#bulbasaur {
    width: 225px;
    height: 225px;
    border: 5px solid black;
    background: white;
    margin:20px;
    float: left;
}
#bulbasaur:hover {
    background: lightgreen;
}

#charmander {
    width: 225px;
    height: 225px;
    border: 5px solid black;
    background: white;
    margin:20px;
    float: left;
}
#charmander:hover {
    background: lightcoral;
}

#squirtle {
    width: 225px;
    height: 225px;
    border: 5px solid black;
    background: white;
    margin:20px;
    float: left;
}
#squirtle:hover{
    background: lightblue;
}

.charAvail {
    display: block;
    overflow: auto;
}
.yourPoke{
    display: block;
    position:relative;
    top:20px;
    overflow: auto;
}

.enemiesAvail {
    display: block;
    position:relative;
    top:20px;
    overflow: auto;
}

.defender {
    display: block;
    position:relative;
    top:20px;
    overflow: auto;  
}

.battleBox {
    background-color: whitesmoke;
    opacity: .5;
    padding:10px;
    border: 5px solid black;
}